{% extends 'base.html' %}

{% block content %}



    <div class="dashboard">

    <div class="content">
        <div class="content_bar">
            <div class="content_text">
                <h1>Contacts</h1>
                <h2>Manage your customer contacts</h2>
            </div>
            <div>
                <a class="content_button" href="{% url 'contact-create' %}">
                <span class="material-symbols-outlined">add</span>
                Add Contact
                </a>
            </div>

        </div>
        {% include 'leads/contact_list.html' %}
    </div>
    </div>

{% endblock content %}