{% extends "base.html" %}

{% block content %}
    <div>
        <a class="content_button_back" href="{% url 'leads:lead-deal' %}">
            <span class="material-symbols-outlined">chevron_backward</span>
            Back
        </a>
    </div>
    <h1>Create a new deal</h1>
    <form method="post" class="create-form-container">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <a class="button" href="{% url 'contact-create' %}">Add new contact</a>
        </div>
        
        <button type="submit"> Submit </button>
    </form>
{% endblock content%}